
body{
    background-color: #454545;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
  }


   nav{
    position: relative;
    }

  nav ul{
    left:10%;
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    }

    nav ul li{
    display: table-cell;
    min-width: 50px;
    }

    nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #aaa;
    }

    nav ul li.current{
    font-weight: bold;
    border-top: 5px solid #00B0F0;
    }

    nav ul li.current a{
    color: #00B0F0;
    }

    nav ul li a:hover{
    color: #0089BB;
    background-color: #D6D8D9;
    }


  .video{
    text-align: center;
    margin-top: -10px;
    filter: grayscale(100%) contrast(60%);
    width: 100vw;
    height: auto;
  }



    div img{
      margin-top: 15px;
      margin-right: 80px;
    }

    .profile{
      display: flex;
      justify-content: center;
      background-color: white;
      border-radius: 10px;
      margin-top: 200px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .profile-icon{
      margin-top: 40px;
    }

    .modal-open{
      display: inline-block;
      background-color: #666;
      color: #fff;
      margin: 10px;
    }

    .modal-open a{
      display: inline-block;
      padding: 5px;
      text-decoration: none;
      color: #fff;
    }

    .modal{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }

    .modal:not(:target) {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s, visibility 0.5s;
    }

    .modal:target{
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s, visibility 0.5s;
    }

    .modal .overlay{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #000;
      opacity: 0.7;
      top: 0;
      left: 0;
    }

    .modal-wrapper{
      width: 100%;
      max-width: 800px;
      min-width: 300px;
      height: 100%;
      max-height: 350px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .modal-contents{
      overflow: auto;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      position: relative;
    }

    .modal-content{
      margin: 25px;
    }

    .modal-close{
      position: absolute;
      top: 5px;
      right: 10px;
      text-decoration: none;
    }

    .modal-profile{
      width: 150px;
      height: 120px;
      display: flex;
      justify-content: right;
    }

    .icons{
      font-size: 120px;
      text-align: center;
    }

    i:hover{
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
      transform: translateY(-0.1875em);
    }


    .portfolio{
      margin-top: 200px;
      background-color: white;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      display: flex;
      justify-content: center;
    }

  /* @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); */


  form { max-width:420px; margin:50px auto; }

  .feedback-input {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid navy;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .feedback-input:focus { border:2px solid blue; }

  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }

  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:navy;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:blue; }

  .mail-form{
    text-align: center;
    margin-top: 200px;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px 20px;
  }

 .error-msg{
     color: red;
 }

@media screen and (max-width: 750px){
  .profile{
    display: block;
    text-align: center;
  }
}

@-webkit-keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.video{
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.video video {
  width: 100%;
}

